#header {
  background-image: url(../images/mainvisual.jpg);
  height: 100vh;
  position: relative;
}

.header-inner {
  padding: 50px;

  h1 {
    position: absolute;
    top: 45%;
    filter: drop-shadow(1px 1px 10px #c0c0c0);
  }
}

.site-menu {
  display: flex;
  justify-content: flex-end;

  li {
    margin-left: 50px;
    color: #FFF;
    font-size: 18px;
    font-weight: bold;
    filter: drop-shadow(1px 1px 10px #c0c0c0);
  }

}


